:root {
  --text-color: #EAEAEA; /* Off-white text */
  --font-text: "Poppins", sans-serif;
}

header {
  height: 100vh;
}

.header {
  display: grid;
  place-items: center;
}

.header-line {
  font-size: 3rem;
}

/* about */

.about {
  height: 100vh;
  display: grid;
  place-items: center;
}

.about-description {
  font-size: 1rem;  /* Reduce for smaller screens */
  line-height: 1.6;   /* More spacing for better readability */
  font-weight: 200;
}

/* Projects */

.project-container {
  height: 100vh;
  display: grid;
  place-items: center;
  
}

.project-subcontainer {
  width: 100%;

}

.seperator {
  border-bottom: 1px solid #EAEAEA;
  margin-top: .75em;

}

.project-block {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.pro-img-container {
  margin: 1em 0;
}