/* CSS Start */
:root {
  --text-color: #EAEAEA; /* Off-white text */
  --font-text: "Poppins", sans-serif;

}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding:0;
  color: var(--text-color);
  font-family: var(--font-text);
  letter-spacing: 0.05em;
  background-attachment: fixed;
  background-color: #0c0b0b; /* Ensures pure black background */
  background-image: url(./assets/noise.svg);
  background-repeat: repeat; /* Tiles the noise properly */
  background-size: 400px; /* Adjust size for the effect */
}



img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Global */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.main_hi {
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 100;
}